@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Roboto', sans-serif;
}
/* First section starts here */

.first-section{
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
   font-size: 48px;
   font-weight: bolder;
   color: #F9FAF8;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-right: 150px;
    margin-top: 80px;

}

.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 360px;
}

img{
    margin-bottom: 50px;
}

.p-first{
    font-size: 18px;
    color: #E5E7EB;

}

.sign-up-first-section{
    background-color: #3882F6;
    color: white;
    width: 90px;
    height: 25px;
    border: 1px #3882F6;
    border-radius: 5px;

}

/* Second section starts here */

.second-section{
    margin-bottom: 100px;
    height: 300px;
}

h2{
   font-size: 36px;
   font-weight: bolder;
   color: #1F2937; 
   text-align: center;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 24px;
    gap: 30px;
    
}

.box-border{
    border: 2.5px solid #3882F6;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    height: 100px;
}

.p-second{
    margin-top: 20px;
}

.box-blue-msg{
    text-align: center;
}


/* Third section starts here */

.third-section{
    background-color: #E5E7EB;
    height: 400px;

}

#inspiring-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    border-left: 320px;
}

.h3-class{
    align-self: flex-end;
    
    
}
.inspiring{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 120px;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Forth section starts here */

.forth-section{
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.forth-section-box{
    background-color: #3882F6;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 50%;
    height: 35%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;




    
}

.h4-class{
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.p-forth{
    color: white;
    font-size: 18px;
}





.left-box{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.right-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.sign-up-forth-section{
    background-color: #3882F6;
    width: 90px;
    color: white;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;

}